<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #description{
            width: 400px;
            height: 100px;
        }
        #lvl{
            width: 500px;
        }
    </style>
</head>
<body>
    <h1>edit page here</h1>
    <form action= "/admin/courses/<%= course._id %>?_method=PATCH" method="POST">    
        Course Name: <input type="text" id ="course_name" name="Course_Name" value=<%=course.Course_Name %>><br>
        Course ID: <input type="text" id="course_id" name="Course_Id" value=<%=course.Course_Id %>><br>
        Units: <input type="number" id="units" name="Units" value=<%=course.Units %>><br>
        Course Number: <input type="number" id="cNum" name="Course_Number" value=<%=course.Course_Number %>><br>
        Level-Semester: (e.g., Graduate-level. Fall, Spring, Summer. )<input type="text" id="lvl" name="Semester_Level" value=<%=course.Semester_Level %>><br>
        Prerequisites: <input type="text" id ="prereq" name="Prereq" value=<%=course.Prereq %>><br>
        Course Description: <textarea type="text" id="description" name="Course_Description"></textarea><br>
        Maximum Number of Students: <input type="number" id="max_stu" name="Max_Students" value=<%=course.Max_Students %>><br>
        Current Number of Students: <input type="number" id="curr_stu" name="Curr_Students" value=<%=course.Curr_Students %>><br>
        Student List: <input type="text" id="stu_list" name="Student_List" value=<%=course.Student_List %>><br>
        Instructor Name: <input type="text" id="prof_name" name="Instructor" value=<%=course.Instructor %>><br>
        Section Number: <input type="number" id="sec_num" name="Section_Number" value=<%=course.Section_Number %>><br>
        Course Location: <input type="text" id="location" name="Location" value=<%= course.Location %>><br>
        Instructor Headshot: <input type="url" id="url" name="Headshot" value=<%=course.Headshot %>><br>
        <input type="submit" value="Create Course"><br>
    </form>
</body>
</html>