<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        #header{
            background-color: #57068c;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-evenly;
        }
        #whiteLogo{
            width:120px;
            height: 45px;
            margin-top: 8px;
        }
        #name-logout{
            display: flex;
            justify-content: space-between;
            font-family: "Gotham SSm 3r", "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif !important;
        }
        #admin-name{
            color: white;
            font-size: 17px;
            letter-spacing: 3px;
            margin-top: 20px;
            margin-right: 30px;

        }
        #btn-logout{
            width:100px;
            height: 30px;
            margin-top: 8%;
            background-color:#57068c;
            color: White;
            border: 1px solid white;
            font-size: 17px
        }
       
        #albert{
            letter-spacing: 3px;
            margin-left: -35%;
            font-family: 'Quicksand', helvetica, arial, sans-serif;
            color:  #2c3e50;
            font-size: 50px;
        }
        hr{
            width: 980px;
        }
        a{
            text-decoration: none;
            color: #008769;
        }
        .grid-container{
            display: grid;
            grid-template-columns: auto auto;
            width: 500px;
            height: 100px;
            margin-left: -150px;
            margin-top: 60px;
        }
        #course-details{
            display: flex;
            justify-content: space-evenly;
        }
        #routes{
            text-align: center;
            margin-top: 20px;
        }
        button{
            width: 200px;
            height: 50px;
            margin: 20px;
            border-radius: 5%;
            background-color: white;
            border: 1px solid #008769;
            font-weight: bold;
            font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
            font-size: 20px;
        }
        .footer{
            font-size: 12px;
            margin-top: 10%;
            letter-spacing: 2px;
            margin-left: 20px;
            font-family: sans-serif;
            color: rgb(112, 42, 42);
        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div id="header">
            <img id="whiteLogo" src="/imgs/whiteLogo.png">
            <div id="name-logout">
                <p id="admin-name">ADMIN</p>
                <button id="btn-logout">LOG OUT</button>
            </div>
        </div>
        <h1 id="albert">Albert</h1><hr>
        <h1><%= course.Course_Id+" "+course.Course_Name%> </h1>
        <div id="course-details">
            <div id="headshot">
                <img src= <%= course.Headshot %>>
            </div>
            <div class="course-info grid-container">
                <div class="grid-item">
                    <span class="bold">Class # :</span><span class="left"> <%= course.Course_Number%></span>
                </div>
                <div class="grid-item">
                    <span class="bold">Section: </span><span class="left"><%= course.Section_Number%></span> 
                </div>
                <div class="grid-item">
                    <span class="bold">Grading: </span><span class="left">CAS Graded</span>
                </div>
                <div class="grid-item">
                    <span class="bold">Course Location: </span><span class="left"><%= course.Location%></span>
                </div>
                <div class="grid-item">
                    <span class="bold">Session: </span><span class="left">TBD</span>
                </div>
                <div class="grid-item">
                    <span class="bold">Class Status: </span><span id="status" class="left">Open</span>
                </div>
                <div class="grid-item">
                    <span class="bold">Instruction Mode: </span><span class="left">In-Person</span>
                </div>
                <div class="grid-item">
                    <span class="bold">Component: </span><span class="left">Lecture</span>
                </div>
            </div>
        </div>
        <div id="routes">
            <button><a href="/admin/courses/<%= course._id %>/edit">Edit Course</a></button> 
            <button><a href="/admin/courses/">Back to home</a>
            <button><a href="">Register Student</button>
        </div>
        <div class="footer">
            <p>Copyright 1999-2022</p>
            <p>New York University</p>
        </div>
    </div>
    
</body>
</html>